


<ul>

    <li>
    <a href="{{ path('item_new') }}">
        {{ 'Create a new entry' | trans }}
    </a>
    </li>
    <li>
    <a href="{{ path('item_search') }}">
        {{ 'Search' | trans }}
    </a>
    </li>
    <li>
    <a href="{{ path('item') }}">
        {{ 'List' | trans }}
    </a>
    </li>

</ul>
